@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* font-family: 'Lobster', cursive; */

:root {
	/* --main-color: #612a7e; */
	--main-color: #432A7E;
	--white-color: #fff;
	--red-color: #e17369;
	--success-color: #4ca333;
	--yellow-color: #ffc400;
	--bg-color: #070b30;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Merriweather', serif;
	color: var(--main-color);
	position: relative;

}
body {
	min-height: 100vh;
}

a {
	text-decoration: none;
	color: var(--main-color);
}

ul {
	padding-left: 0;
}

ul li {
	list-style: none;
}

p,
h1,
h2,
h3,
h4 {
	margin: 0;
}

.color-red {
	color: var(--red-color);
}

::-webkit-scrollbar {
    width: 8px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: var(--white-color);
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 4em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-color);
}
